; An INI configuration file for configuring the Onion Module

hostkey = /etc/hostkey.pem  ; requires public key in pem format as global parameter

[onion]
p2p_port = 2000
p2p_hostname = localhost
hop_count = 2               ; number of intermediate hops [2;255]
api_address = 127.0.0.1:2001
round_time = 100
build_window = 1000
private_hostkey = /etc/hostkey_priv.pem
handshake_timeout = 1000
timeout = 15

[rps]
api_address = 127.0.0.1:2002