; An INI configuration file for configuring the Onion Module

[onion]
p2p_port = 1234
p2p_hostname = localhost
hop_count = 2               ; number of intermediate hops [2;255]
api_address = 127.0.0.1:1001
hostkey = /etc/hostkey.pem  ; requires public key in pem format

[rps]
api_address = 127.0.0.1:1002